<!-- space/members.html -->
{% extends "blog/base.html" %}
{% block content %}
  <h2 class="mb-4">Members</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Role</th>
        <th scope="col">Change Role</th>
      </tr>
    </thead>
    <tbody>
        {% for membership in memberships %}
          <tr>
            <td>{{ membership.user }}</td>
            <td>{{ membership.get_role_display }}</td>
            <td>
			    {% if membership.id %}
			      <form method="POST" action="{% url 'change-member-role' membership.id %}">
			        {% csrf_token %}
			        <select name="new_role" onchange="this.form.submit();">
			          <option value="member" {% if membership.role == 'member' %}selected{% endif %}>Member</option>
			          <option value="moderator" {% if membership.role == 'moderator' %}selected{% endif %}>Moderator</option>
			          <option value="admin" {% if membership.role == 'admin' %}selected{% endif %}>Admin</option>
			          <option value="owner" {% if membership.role == 'owner' %}selected{% endif %}>Owner</option>
			        </select>
			      </form>
			    {% else %}
			      {{ membership.get_role_display }}
			    {% endif %}
            </td>
          </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock content %}
